<div id="form">
    <h2>Login</h2>
    <form action="/log-in" method="POST" class="sign-up-log-in-all">
  
      <div>
        <label> Email
          <input type="text" name="email" placeholder="ironhacker@gmail.com" />
        </label>
      </div>

  
      <div>
        <label> Password
          <input type="password" name="password" placeholder="********" />
        </label>
      </div>

      <div>
        <button type="submit">Log-in</button>
      </div>
    
      <div>
        <% if(errorMessage) { %>
        <p class="error" style="color: red;"><%= errorMessage %></p>
        <% } %>
    </div>
    </form>
  </div>
