<div class="sign-up-container">
    <h2>Signup</h2>
    <form class="sign-up" action="/" method="POST" class="sign-up-log-in-all">
      <div>
        <label class="recipe-label"> Name
          <input class="recipe-input" type="text" name="name" placeholder="Peter..." />
        </label>
      </div>

      <div>
        <label class="recipe-label"> Last Name
          <input class="recipe-input" type="text" name="lastname" placeholder="Smith..." />
        </label>
      </div>


      <div>
        <label class="recipe-label"> Email
          <input class="recipe-input" type="text" name="email" placeholder="ironhacker@gmail.com" />
        </label>
      </div>

  
      <div>
        <label class="recipe-label"> Password
          <input class="recipe-input" type="password" name="password" placeholder="********" />
        </label>
      </div>

      <div>
        <button class="form-button" type="submit">Sign-up</button>
      </div>
  
      <div>
        <% if(errorMessage) { %>
        <p class="error" style="color: red;"><%= errorMessage %></p>
        <% } %>
      </div>

    </form>
  </div>
  