<div class="profile-container">
  <h2>Login</h2>
  <main>
    <section class="profile-photo">
      <form action="/profile" method="POST" enctype="multipart/form-data">
          <img class="image-profile-settings" src="<%= user.img %>" alt="profile-image">
      </form>
    </section>

    <section class="info-profile">
      <form action="/profile/settings" method="POST">
        <div>
          <label class="recipe-label"> Email: </label>
          <%= user.email %>
        </div>
        <div>
          <input class="recipe-input" type="text" name="email" placeholder="Enter new email..." />
          <button class="settings-button" type="submit">Save</button>
        </div>
      </form>

      <form action="/profile/settings" method="POST">

        <div>
          <label class="recipe-label"> Password: </label>
        </div>
        <div>
          <input class="recipe-input" type="password" name="currentPassword" placeholder="Enter Current Password..." />
        </div>
        <div>
          <input class="recipe-input" type="password" name="newPassword" placeholder="Enter New Password..." />
          <button class="settings-button" type="submit">Save</button>
        </div>
      </form>

        <div>
          <% if(errorMessage) { %>
          <p class="error" style="color: red;"><%= errorMessage %></p>
          <% } %>    
        </div>
    </section>
  </main>
</div>