@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, p, ul, li {
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

a {
  color: #00b7ff;
}




/* Ingredients page */
.container-ingredients {
  display: flex;
  flex-direction: row;
  margin: 20px;
}


/* INGREDIENTS CARDS */
.leftContainer-ingredients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50vw;
  margin-left: 3rem;
}


.ingredientCard-ingredients {
  border: 2px solid #969a9b;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  width: 20rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredientCard-ingredients img {
  height: 150px;
  width: auto;
  max-width: 200px;
  margin-bottom: 1rem;
}

.ingredientCard-ingredients a {
  text-decoration: none;
  color: black
}

.ingredientCard-ingredients h2 {
  margin-bottom: 1rem;
}

.ingredientCard-ingredients h3 {
  margin-bottom: 0.5rem;
}


.ingredientCard-ingredients {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.ingredientCard-ingredients:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}


/* FORM */
.rightContainer-ingredients {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightContainer-ingredients h2 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.rightContainer-ingredients form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  padding-top: 2rem;
  border: 2px solid #969a9b;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 500px;
}

.rightContainer-ingredients button {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 2rem;
}


.rightContainer-ingredients form:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}


.rightContainer-ingredients label {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.rightContainer-ingredients input {
  font-size: 1rem;
  margin-bottom: 1rem;
}

