<h1 class="recipe-heading">Create New Recipe</h1>

<div class="recipe-form-container">

  <form action="/recipes/new" method="POST" enctype="multipart/form-data">
    <label for="recipe-name" class="recipe-label">Name:</label>
    <input type="text" id="recipe-name" name="name" class="recipe-input" required>

    <label for="recipe-photo" class="recipe-label">Photo:</label>
    <input type="file" id="recipe-photo" name="photo" accept="image/png, jpg" class="recipe-input">

    <label for="recipe-ingredients" class="recipe-label">Ingredients:</label>
    <select name="ingredients" id="recipe-ingredients" multiple required class="recipe-input">
      <!-- Populate the select dropdown with available ingredients -->
      <% ingredientsList.forEach((ingredient) => { %>
      <option value="<%= ingredient._id %>"><%= ingredient.name %></option>
      <% }) %>
    </select>

    <label for="recipe-duration" class="recipe-label">Duration (minutes):</label>
    <input type="number" id="recipe-duration" name="duration" min="0" class="recipe-input">

    <label for="recipe-instructions" class="recipe-label">Instructions:</label>
    <textarea id="recipe-instructions" name="instructions" class="recipe-input" required></textarea>

    <label for="recipe-totalCalories" class="recipe-label">Total Calories (kcal):</label>
    <input type="number" id="recipe-totalCalories" name="totalCalories" required class="recipe-input">

    <label for="recipe-protein" class="recipe-label">Protein (g):</label>
    <input type="number" id="recipe-protein" name="protein" required class="recipe-input">

    <label for="recipe-carbs" class="recipe-label">Carbs (g):</label>
    <input type="number" id="recipe-carbs" name="carbs" required class="recipe-input">

    <label for="recipe-fat" class="recipe-label">Fat (g):</label>
    <input type="number" id="recipe-fat" name="fat" required class="recipe-input">

    <button type="submit" class="recipe-submit-button">Create Recipe</button>
  </form>
</div>